<!DOCTYPE html>
<html>
<head>
  <title>Blog App</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  
<nav>
<div class= "container">
  <div class="nav-wrapper">
    <%= link_to "Home", root_path, class:"brand-logo" %>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <% if user_signed_in? %>
          <li> Welcome <%= current_user.username%> </li>
          <li> <%= link_to "Edit Profile", edit_user_registration_path %> </li>
          <li> <%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
          
        <% end %>
      </ul>
  </div>
</div>
</nav>

<div class="container">
  <li> <%= link_to "Blog", root_path %> </li>
  <li> <%= link_to "Travel", travel_path %> </li>
</div>
  
</div>

<div class = "container">
  <%= yield %>
</div>

</body>
</html>
